.community {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;

  .form {
    .input {
      padding: 0.5rem 1rem;
      border-radius: 12px 0 0 12px;
      border: none;
      outline: none;
      margin: 0;
    }

    .button {
      border-radius: 0 12px 12px 0;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      background-color: #5db442;
      color: white;
      margin: 0;
    }
  }

  .community_text {
    color: #8f8f8f;
    padding: 1rem 0;
  }
}

@media screen and(max-width: 400px) {
  .community {
    .form {
      .input {
        &::placeholder {
          font-size: 0.7rem;
        }
      }
    }
    .community_text {
      font-size: 0.8rem;
    }
  }
}
