.signUp {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../public/assets/images/signUpBg.png") no-repeat center;
  background-size: cover;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;

  .signUp-inner {
    .signUp-inner_text {
      color: white;
      font-size: 2.5rem;
      font-weight: lighter;
      text-align: center;
    }

    .signUp_process {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 1rem 8rem;
      margin-top: 1rem;
      // width: 100%;

      .signUp_process_img {
        width: 1.2rem;
        opacity: 0.7;
        margin-left: 6rem;
      }

      .signUp_process-inner {
        display: flex;
        width: 100%;
        column-gap: 2rem;

        .image {
          width: 60px;

          .signUp_process-inner_img {
            width: 100%;
          }
        }

        .signUp_process-content {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
          row-gap: 1rem;

          .signUp_process-content-text {
            color: #5e9d4a;
          }

          .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1.5rem;

            .list_link {
              color: white;
              padding: 0.2rem 0;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .signUp_footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 3rem;
      gap: 3rem;
      width: 100%;

      .signUp_footer-ellipse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        .signUp_footer-ellipse_image {
          background-color: #4a6530;
          border-radius: 50%;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .signUp_footer_img {
            width: 1.5rem;
            filter: brightness(0) invert(1);
          }
        }

        &:nth-child(2) .signUp_footer-ellipse_image {
          background-color: white;
        }

        &:nth-child(2) .signUp_footer_img {
          filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(40deg) saturate(500%);
        }

        .signUp_footer-ellipse_text {
          color: white;
        }
      }
    }
  }
}

@media screen and(max-width: 590px) {
  .signUp {
    height: 100%;
    width: 100%;

    .signUp-inner {
      .signUp-inner_text {
        font-size: 1.5rem;
      }

      .signUp_process {
        padding: 1rem 5rem;

        .signUp_process-inner {
          .image {
            width: 40px;
          }
          .signUp_process-content {
            .signUp_process-content-text {
              font-size: 1rem;
            }

            .list {
              .list_link {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 400px) {
  .signUp {
    .signUp-inner {
      .signUp_process {
        .signUp_process-inner {
          .signUp_process-content {
            .list {
              .list_link {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .signUp_footer {
        gap: 0;
        .signUp_footer-ellipse {
          .signUp_footer-ellipse_text {
            font-size: 0.8rem;
          }
          .signUp_footer-ellipse_image {
            .signUp_footer_img {
              width: 1rem;
            }
          }
        }
      }
    }
  }
}
